# php-fpm - The PHP FastCGI Process Manager

description "The PHP FastCGI Process Manager"

start on runlevel [2345]
stop on runlevel [016]

# Precise upstart does not support reload signal, and thus rejects the
# job. We'd rather start the daemon, instead of forcing users to
# reboot https://bugs.launchpad.net/ubuntu/+source/php5/+bug/1272788
#
# reload signal USR2

pre-start script
    mkdir -p -m02775 /tmp/phpenv/{{ php_version }}
    mkdir -p -m02777 /tmp/phpenv/{{ php_version }}/opcache

    for conf in {{ phpenv_root }}/versions/{{ php_version }}/etc/pool.d/*.conf; do
        file=${conf##*/}
        domain=${file%.txt}

        mkdir -p -m02770 /tmp/phpenv/{{ php_version }}/$domain
    done

    chown -R www-data:web-admin /tmp/phpenv

    {{ phpenv_root }}/versions/{{ php_version }}/sbin/php-fpm --fpm-config {{ phpenv_root }}/versions/{{ php_version }}/etc/php-fpm.conf --test
end script

respawn
exec {{ phpenv_root }}/versions/{{ php_version }}/sbin/php-fpm --nodaemonize --fpm-config {{ phpenv_root }}/versions/{{ php_version }}/etc/php-fpm.conf {{ "-dzend_extension=xdebug.so" if env_name == "dev" else "" }}

post-stop exec rm -rf /tmp/phpenv/{{ php_version }}
