export PHPENV_ROOT={{ phpenv_root }}
export PATH="$PHPENV_ROOT/bin:$PATH"

export ENV_NAME={{ env_name }}
export COMPOSER_MEMORY_LIMIT=-1

eval "$(phpenv init -)"

{% if env_name == "dev" %}
## https://getcomposer.org/doc/articles/troubleshooting.md#xdebug-impact-on-composer ##

# Load xdebug Zend extension with php & phpunit commands
alias php='php -dzend_extension=xdebug.so'
alias phpunit='phpunit -dzend_extension=xdebug.so'
{% endif %}
