export PHPENV_ROOT={{ phpenv_root }}
export PATH="$PHPENV_ROOT/bin:$PATH"

export ENV_NAME={{ env_name }}

eval "$(phpenv init -)"

{% if env_name == "dev" %}
## https://getcomposer.org/doc/articles/troubleshooting.md#xdebug-impact-on-composer ##

# Load xdebug Zend extension with php command
alias php='php -dzend_extension=xdebug.so'

# PHPUnit needs xdebug for coverage. In this case, make a function that calls either the vendor install binary, or global version.
phpunit() {
    if [ -e ./vendor/bin/phpunit ]; then
        php ./vendor/bin/phpunit "$@"
    else
        php $(phpenv which phpunit) "$@"
    fi
}
{% endif %}
